.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  text-align: center;
}

.left {
  width: 500px;
  height: 49vh;
  padding: .25vw;
  margin-bottom: 10px;

}

.right {
  width: 500px;
  height: 50vh;
  outline: 1px solid gray;
  padding: .5vw;
  overflow: auto;
}

#editor {
  width: 100%;
  height: 100%;
  outline: none;
}