body {
  background-color: #189AB4;
}

.title {
  background-color: #274472;
  text-transform: uppercase;
  text-align: center;
  padding: 10px;
  color: #C3E0E5;
  width: 400px;
  margin: 40px auto 0 auto;
}

.container {
  outline: 5px solid #5885AF;
  width: 400px;
  height: 400px;
  text-align: center;
  background-color: #C3E0E5;
  color: #C3E0E5;
  font-size: 30px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -200px;
  margin-left: -200px;
}

.pad-bank {
  width: 332px;
  height: 272px;
  display: inline-block;
  margin: 20px;
}

.display {
  width: 200px;
  background-color: #41729F;
  margin: 15px auto;
  padding: 15px;
  box-sizing: border-box;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.drum-pad {
  display: inline-flex;
  cursor: pointer;
  width: 5rem;
  height: 5rem;
  background-color: #274472;
  margin: 4px;
  padding: 5px;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.active {
  background-color: #050A30;
}